kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      retention: 15d
      retentionSize: 45GB
      resources:
        requests:
          cpu: 500m
          memory: 2Gi
        limits:
          cpu: 1000m
          memory: 4Gi
      # Persistent storage for Prometheus TSDB
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: gp3
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 50Gi
      # Allow Prometheus to discover ServiceMonitors in all namespaces
      serviceMonitorNamespaceSelector: {}
      serviceMonitorSelector:
        matchLabels:
          release: monitoring
  grafana:
    enabled: true
    adminPassword: admin
    # Persistent storage for Grafana dashboards
    persistence:
      enabled: true
      storageClassName: gp3
      accessModes: ["ReadWriteOnce"]
      size: 10Gi
    grafana.ini:
      dashboards:
        min_refresh_interval: 1s
    serviceAccount:
      annotations:
        eks.amazonaws.com/role-arn: "arn:aws:iam::045129524082:role/tbyte-dev-grafana-cloudwatch"
    sidecar:
      dashboards:
        enabled: true
        label: grafana_dashboard
        labelValue: "1"
    additionalDataSources:
      - name: Loki
        type: loki
        url: http://loki-gateway.loki.svc.cluster.local
        access: proxy
        isDefault: false
      - name: CloudWatch
        type: cloudwatch
        access: proxy
        jsonData:
          defaultRegion: eu-central-1
          authType: default
        isDefault: false
      - name: CloudWatch Logs
        type: cloudwatch
        access: proxy
        jsonData:
          defaultRegion: eu-central-1
          authType: default
          logGroups:
            - name: "/aws/eks/eks-lab-argocd/cluster"
            - name: "/aws/vpc/flowlogs/eks-lab-argocd"
        isDefault: false
  
  # Node exporter with high priority
  prometheus-node-exporter:
    priorityClassName: system-node-critical
  
  # AlertManager with persistence
  alertmanager:
    alertmanagerSpec:
      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: gp3
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 10Gi