# OpenTelemetry Operator Configuration
opentelemetry-operator:
  enabled: true
  admissionWebhooks:
    create: false
    certManager:
      enabled: false
    autoGenerateCert:
      enabled: false
  manager:
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 50m
        memory: 64Mi
