apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "tbyte-microservices.fullname" . }}-frontend-config
  namespace: {{ .Release.Namespace }}
data:
  nginx.conf: |
    server {
        listen 80;
        server_name localhost;
        
        location / {
            root /usr/share/nginx/html;
            index index.html;
            try_files $uri $uri/ /index.html;
        }
        
        location /api/ {
            proxy_pass http://{{ include "tbyte-microservices.fullname" . }}-backend:{{ .Values.backend.service.port }}/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
